body{
    background-size: cover;
}
.container{
    max-width: 1000px;
    margin: 0px auto;
}

#headertitle{
    background-color: #5405BD;
    color: #FFFFFF;
    
    margin: 0px auto;
    height: 30px;
}
#header{
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logo{
    padding: 20px 0px;
    list-style: none;
}
#logo img{
    max-width: 100px;
    height: auto;
    
}

#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* border-bottom: 3px solid #ddd; */
}

#main-menu li{
    margin-right: 10px;
}

#main-menu li a{
    color: #A49F9F;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    position: relative;
}
#main-menu li a::after{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -3px;
    background: #FFFFFF;
}

#main-menu li.active a::after, #main-menu li:hover a::after{
    background: #5405BD;
}
.Search{
    /* position: absolute; */
    /* left: 60%; */
    /* padding: 0px; */
    max-width: 700px;
    margin: 0px auto;
    display: flex;
    gap: 20%;
}
.input_find{
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #9747FF;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
    padding: 20px;
}
.tabel-call-history{
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0px auto;
}
table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 5px 10px;
    text-align: left;
}
#title-table{
    background-color: #0D99FF;
    color: #FFFFFF;
}