body{
    background-size: cover;
}
.container{
    max-width: 1000px;
    margin: 0px auto;
}

#headertitle{
    background-color: #5405BD;
    color: #FFFFFF;
    
    margin: 0px auto;
    height: 30px;
}
#header{
    max-width: 1000px;
    margin: 0px auto;
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logo{
    padding: 20px 0px;
    list-style: none;
}
#logo img{
    max-width: 100px;
    height: auto;
    
}

#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* border-bottom: 3px solid #ddd; */
}

#main-menu li{
    margin-right: 10px;
}

#main-menu li a{
    color: #A49F9F;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    position: relative;
    font-size: 16px;
}
#main-menu li a::after{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -3px;
    background: #FFFFFF;
}

#main-menu li.active a::after, #main-menu li:hover a::after{
    background: #5405BD;
}
.Matrics{
    justify-content: space-between;
    display: flex;
}